<?xml version="1.0" encoding="utf-8"?>
<!--
/** Copyright 2014 Álvaro Rodríguez Otero and Álvaro Rodrigo Yuste
*
* Licensed under the EUPL, Version 1.1 or – as soon they will be
* approved by the European Commission – subsequent versions of the
* EUPL (the "Licence");* you may not use this work except in
* compliance with the Licence.
* You may obtain a copy of the Licence at:
*
* http://www.osor.eu/eupl/european-union-public-licence-eupl-v.1.1
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the Licence is distributed on an "AS
* IS" BASIS, * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
* express or implied.
* See the Licence for the specific language governing permissions
* and limitations under the Licence.
*/
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="acroniManager" type="AcroniManager.Core.Configuration.AcroniManagerConfigurationSection, AcroniManager.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AcroniManagerDatabaseModelContainer"
         providerName="System.Data.EntityClient"
         connectionString="metadata=res://*/Data.AcroniManagerDatabaseModel.csdl|
                                    res://*/Data.AcroniManagerDatabaseModel.ssdl|
                                    res://*/Data.AcroniManagerDatabaseModel.msl;
                                    provider=System.Data.SqlServerCe.4.0;
                                    provider connection string=&quot;data source=AcroniDatabase.sdf&quot;" />
  </connectionStrings>
  <!-- TEST PARAMETERS:
            testCount="500" 
            storeResourceInformation="resourceInfo.txt"
  -->
  <acroniManager xmlns="http://acroniManager.org/AcroniManagerExecutionConfiguration.xsd" 
                 acronymRegularExpression="(?&lt;match&gt;(?:[A-Z]\.?\-?\/?){2,})"
                 acronymGroupName="match">
    <leechers>
      <leecher class="AcroniManager.Leechers.Wikipedia.WikipediaLeecher,AcroniManager.Leechers" source="Wikipedia">
        <executions>
          <execution languageCode="es" description="Wikipedia ES Leeching starting by the Acrónimos Category">
            <parameters>
              <parameter name="initialCategory" value="Categoría:Abreviatura" />
              <parameter name="userAgent" value="AcroniManager/1.0 (xtoiko@gmail.com)" />
              <parameter name="wikipediaUrl" value="es.wikipedia.org" />
              <parameter name="maximumDepth" value="3" />
              <parameter name="cleanContents" value="true" />
              <parameter name="fileTag" value="Archivo" />
              <parameter name="quoteTag" value="cita" />
              <parameter name="redirectTag" value="Redirec" />
              <parameter name="categoryNamePrefix" value="Categoría:" />
              <parameter name="browsableCategories" value="ACRÓNIMO, SIGLA, ABREVIATURA" />
            </parameters>
          </execution>
        </executions>
      </leecher>
    </leechers>
    <patterns>
      <pattern class="AcroniManager.Patterns.FormatString.FormatStringPattern,AcroniManager.Patterns">
        <instanceConfigurations>
          <instanceConfiguration description="Disambiguation page">
            <parameters>
              <parameter name="formatString" value="{acronymRE} puede referirse a:(?:\s*\*\s*(?&lt;definition&gt;[^\r\n]*))+" />
            </parameters>
          </instanceConfiguration>
          <instanceConfiguration description="Definition enclosed in parentheses">
            <parameters>
              <parameter name="formatString" value="{acronymRE}\s*\((?&lt;definition&gt;[^)]*)\)" />
              <parameter name="checkDefinition" value="true" />
            </parameters>
          </instanceConfiguration>
          <instanceConfiguration description="Acronym enclosed in parentheses">
            <parameters>
              <parameter name="formatString" value="(?&lt;definition&gt;\p{L}.*)\({acronymRE}\)" />
              <parameter name="checkDefinition" value="true" />
              <parameter name="cutBeginOfDefinition" value="true" />
              <parameter name="beginOfDefinitionBoundaries" value="unos,unas,una,un" />
            </parameters>
          </instanceConfiguration>
          <instanceConfiguration description="Acronym followed by colon">
            <parameters>
              <parameter name="formatString" value="{acronymRE}\:\s+(?&lt;definition&gt;\p{L}.*)" />
              <parameter name="checkDefinition" value="true" />
              <parameter name="cutEndOfDefinition" value="true" />
            </parameters>
          </instanceConfiguration>
        </instanceConfigurations>
      </pattern>
    </patterns>
    <checkers>
      <checker class="AcroniManager.Checkers.Web.WebBasedChecker,AcroniManager.Checkers">
        <instanceConfigurations>
          <instanceConfiguration description="Check in cusiglas.com web page">
            <parameters>
              <parameter name="urlFormatString" value="http://www.cusiglas.com/significadode/{acronym}.php" />
              <parameter name="meaningFormatString" 
                         value="&lt;div class=&quot;info&quot;&gt;&lt;p&gt;(?:\p{Lu}+) es (?:el acrónimo|la sigla) de &lt;b&gt;&lt;a href=&quot;[^&quot;]+&quot;&gt;(?&lt;definition&gt;[^&lt;]+)" />
              <parameter name="setAcronymToLowerCase" value="true" />
              <parameter name="userAgent" value="AcroniManager/1.0 (xtoiko@gmail.com)" />
            </parameters>
          </instanceConfiguration>
        </instanceConfigurations>
      </checker>
    </checkers>
  </acroniManager>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>