<?xml version="1.0" encoding="utf-8"?>
<!--
/** Copyright 2014 Álvaro Rodríguez Otero and Álvaro Rodrigo Yuste
*
* Licensed under the EUPL, Version 1.1 or – as soon they will be
* approved by the European Commission – subsequent versions of the
* EUPL (the "Licence");* you may not use this work except in
* compliance with the Licence.
* You may obtain a copy of the Licence at:
*
* http://www.osor.eu/eupl/european-union-public-licence-eupl-v.1.1
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the Licence is distributed on an "AS
* IS" BASIS, * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
* express or implied.
* See the Licence for the specific language governing permissions
* and limitations under the Licence.
*/
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="acroniManager" type="AcroniManager.Core.Configuration.AcroniManagerConfigurationSection, AcroniManager.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AcroniManagerDatabaseModelContainer"
         providerName="System.Data.EntityClient"
         connectionString="metadata=res://*/Data.AcroniManagerDatabaseModel.csdl|
                                    res://*/Data.AcroniManagerDatabaseModel.ssdl|
                                    res://*/Data.AcroniManagerDatabaseModel.msl;
                                    provider=System.Data.SqlServerCe.4.0;
                                    provider connection string=&quot;data source=AcroniDatabase.sdf&quot;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <acroniManager xmlns="http://acroniManager.org/AcroniManagerExecutionConfiguration.xsd"
                 acronymRegularExpression="(?&lt;match&gt;(?:[A-Z]\.?\-?\/?){2,})"
                 acronymGroupName="match">
    <meaningSelector class="AcroniManager.MeaningSelectors.Rank.RankMeaningSelector,AcroniManager.MeaningSelectors"
                     description="Meaning selector based on ranking" >
      <parameters>
        <parameter name="criteriasOrder" value="score, patternsCount, resourcesCount, validationsCount"/>
        <parameter name="acronymPartWeight" value="5"/>
        <parameter name="categoryWeight" value="2"/>
        <parameter name="paragraphsAround" value="3"/>
        <parameter name="paragraphDistanceModifier" value ="2"/>
        <parameter name="relevantWordMinimumLength" value ="4"/>
      </parameters>
    </meaningSelector>
  </acroniManager>
</configuration>